<!DOCTYPE html>
<html ng-cloak ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Google 阅读器</title>

        <link type="text/css" rel="stylesheet" href="media/css/main.css">
        <link type="text/css" rel="stylesheet" href="media/css/scroll.css">
        <link type="text/css" rel="stylesheet" href="media/css/scroll_large_density.css" disabled="disabled" />
        <link type="text/css" rel="stylesheet" href="media/css/scroll_medium_density.css" disabled="disabled" />
        <link type="text/css" rel="stylesheet" href="media/css/scroll_small_density.css" />
        <link type="text/css" rel="stylesheet" href="/Content/css/style.css" />
    </head>
    <body ng-controller="HomeController">
        
        <div id="gb">
            <div id="gbw">
                <div id="gbzw">
                    <div id="gbz">
                        <ol id="gbzc" class="gbtc">
                            <li class="gbt"><a class="gbzt"><span class="gbtb2"></span><span class="gbts">Powered by Zack Yang</span></a></li>
                        </ol>
                    </div>
                </div>
                <div id="gbq">
                    <div id="gbq1" class="gbt">
                        <a class="gbqla" href="#" onclick="gbar.logger.il(39)" title="阅读器"><table id="gbqlt"><tbody><tr><td id="gbqlw" class="gbgt"><span id="gbql"></span></td></tr></tbody></table><div class="gbqlca"></div></a>
                    </div>
                    <div id="gbq2" class="gbt">
                        <div id="gbqfw">
                            <form id="gbqf" name="gbqf" method="get" onsubmit="gbar.logger.il(31);return executeSearch();" style="max-width: 512px;">
                                <fieldset class="gbqff" id="gbqff" style="max-width: 512px;">
                                    <legend class="gbxx">搜索阅读器</legend>
                                    <div id="gbfwa" class="gbqfwa ">
                                        <div id="gbqfqw" class="gbqfqw">
                                            <div id="gbqfaa"></div>
                                            <div id="gbqfqwb" class="gbqfqwb">
                                                <input id="gbqfq" class="gbqfif" name="q" type="text" autocomplete="off" value="" placeholder="搜索阅读器">
                                            </div>
                                            <div id="gbqfab">
                                            </div>
                                            <div class="goog-inline-block search-restrict" title="" role="listbox" style="-webkit-user-select: none;" tabindex="0" aria-haspopup="false">
                                                <div class="goog-inline-block search-restrict-caption">
                                                </div>
                                                <div class="goog-inline-block search-restrict-dropdown">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div id="gbqfbw" style="">
                                    <button id="gbqfb" aria-label="Google 搜索" class="gbqfb">
                                        <span class="gbqfi"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gbx3"></div>
        </div>

        <div class="message-area-container" id="message-area-container">
            <div class="goog-inline-block">
                <div class="jfk-butterBar" id="message-area"> </div>
            </div>
        </div>
        <div class="message-area-container hidden" id="loading-area-container">
            <div class="goog-inline-block">
                <div class="jfk-butterBar jfk-butterBar-shown jfk-butterBar-info" id="loading-area">正在加载...</div>
            </div>
        </div>
        <div id="top-bar" class=" jfk" style="">
            <a href="#" id="logo-container"><h1 id="logo"><span>Google Reader</span></h1></a>
            <div id="search">
                <input id="search-input" class="jfk-textinput" type="text">
            </div>
        </div>
        <div id="quick-add-bubble-holder" class="hidden">
            <span id="quick-add-instructions">输入供稿网址来添加订阅。</span>
            <div id="quick-add-close"></div>
            <div id="quick-add-input-div">
                <input type="text" name="quickadd" id="quickadd" autocomplete="off" spellcheck="false">
                <div role="wairole:button" tabindex="0" id="quick-add-btn" class="goog-button goog-button-base unselectable goog-inline-block goog-button-float-left goog-button-tight">
                    <div class="goog-button-base-outer-box goog-inline-block">
                        <div class="goog-button-base-inner-box goog-inline-block">
                            <div class="goog-button-base-pos">
                                <div class="goog-button-base-content">
                                    <div class="goog-button-body" id="add-feed">添加</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="quick-add-helptext">例如，http://www.36kr.com/feed</div>
        </div>
        <!-- 主视图 -->
        <div id="main">
            <div id="nav">
                <div id="logo-section"> <a id="logo-link" href="#">阅读器</a> </div>
                <div id="lhn-add-subscription-section">
                    <span id="lhn-add-subscription" class="jfk-button-primary jfk-button" role="button" style="-webkit-user-select: none;" tabindex="0">订阅</span>
                </div>
                <div id="scrollable-sections-holder">
                    <div id="scrollable-sections" class="mouseout" style="height: 377.1999969482422px;">
                        <div id="home-section">
                            <div id="overview-selector" class="selector no-icon selected">
                                <a href="#" class="link"><span class="text">主页</span></a>
                            </div>
                        </div>
                        <div id="lhn-selectors" class="section lhn-section">
                            <div id="lhn-selectors-minimize" class="section-button section-minimize"></div>
                            <div class="lhn-section-primary">
                                <div id="reading-list-selector" class="selector no-icon unread">
                                    <a href="#" class="link"><span class="text"><span class="label">所有条目</span><span id="reading-list-unread-count" class="unread-count"></span></span></a>
                                </div>
                            </div>
                            <div class="lhn-section-secondary">
                                <div id="star-selector" class="selector">
                                    <a href="#" class="link"><div class="selector-icon"></div><span class="text">加星标的条目</span></a>
                                </div>
                                <div id="trends-selector" class="selector">
                                    <a href="#" class="link"><div class="selector-icon"></div><span class="text">趋势</span></a>
                                </div>
                                <div id="directory-selector" class="selector no-icon">
                                    <a href="#" class="link"><span class="text">浏览其他内容</span></a>
                                </div>
                            </div>
                            <div class="selectors-footer"></div>
                        </div>
                        <div id="lhn-recommendations" class="section lhn-section section-minimized">
                            <div id="lhn-recommendations-minimize" class="section-button section-minimize"></div>
                            <div id="lhn-recommendations-menubutton" class="section-button section-menubutton goog-menu-button goog-inline-block" aria-expanded="false" role="button" style="-webkit-user-select: none;" tabindex="0" aria-haspopup="true">
                                <div class="goog-inline-block goog-menu-button-outer-box">
                                    <div class="goog-inline-block goog-menu-button-inner-box">
                                        <div class="goog-inline-block goog-menu-button-caption"> </div>
                                        <div class="goog-inline-block goog-menu-button-dropdown">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div id="recommendations-tree-container" class="scroll-tree-container">
                                <ul id="recommendations-tree" class="scroll-tree">
                                    <li class="folder unselectable expanded" id="recs-tree-item-0-main">
                                        <div class="toggle folder-toggle toggle-d-0"></div>
                                        <a class="link lhn-section-primary" href="#" id="recs-tree-item-0-link"><div class="icon folder-icon icon-d-0" id="recs-tree-item-0-icon"></div><div class="name-text folder-name-text name-text-d-0 name folder-name name-d-0" id="recs-tree-item-0-name">探索</div><div class="unread-count folder-unread-count unread-count-d-0" id="recs-tree-item-0-unread-count"></div></a>
                                        <ul class="lhn-section-secondary">
                                            <li class="sub unselectable expanded" id="recs-tree-item-1-main">
                                                <div class="toggle sub-toggle toggle-d-1 hidden"></div>
                                                <a class="link" href="#" id="recs-tree-item-1-link"><div class="icon sub-icon icon-d-1" id="recs-tree-item-1-icon"></div><div class="name-text sub-name-text name-text-d-1 name sub-name name-d-1" id="recs-tree-item-1-name">推荐的条目</div><div class="unread-count sub-unread-count unread-count-d-1" id="recs-tree-item-1-unread-count"></div><div class="tree-item-action-container"><div id="recs-tree-item-1-action" class="action tree-item-action section-button section-menubutton goog-menu-button"></div></div></a>
                                            </li>
                                            <li class="folder unselectable collapsed" id="recs-tree-item-2-main">
                                                <div class="toggle folder-toggle toggle-d-1">
                                                </div>
                                                <a class="link" href="#" id="recs-tree-item-2-link">
                                                    <div class="icon folder-icon icon-d-1" id="recs-tree-item-2-icon"></div>
                                                    <div class="name-text folder-name-text name-text-d-1 name folder-name name-d-1" id="recs-tree-item-2-name">推荐源</div>
                                                    <div class="unread-count folder-unread-count unread-count-d-1" id="recs-tree-item-2-unread-count"></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="lhn-section-footer">
                                <a href="#" id="recommendations-tree-view-all">查看所有推荐的内容 »</a>
                            </div>
                        </div>
                        <div id="lhn-subscriptions" class="section lhn-section  ">
                            <div id="lhn-subscriptions-minimize" class="section-button section-minimize"></div>
                            <div class="lhn-section-primary">
                                <span id="sub-tree-header" class="unselectable">订阅</span>
                            </div>
                            <div id="sub-tree-container" class="scroll-tree-container lhn-section-secondary">
                                <ul id="sub-tree" class="scroll-tree scroll-tree-show-updated">
                                    <li class="folder unselectable expanded" id="sub-tree-item-0-main">
                                        <div class="toggle folder-toggle toggle-d-0"></div>
                                        <div ng-repeat="folder in feeds.Folders">
                                            <div class="icon folder-icon"></div>
                                            <div>{{folder.FolderName}}</div>
                                            <ul ng-repeat="rss in folder.RssItems">
                                                <li class="sub unselectable expanded unread">
                                                    <div class="toggle sub-toggle toggle-d-2 hidden"></div>
                                                    <a class="link">
                                                        <div style="background-image: url('/Content/img/default.gif'); background-size:16px 16px" class="icon sub-icon icon-d-2 favicon"></div>
                                                        <div class="name-text sub-name-text name-text-d-2 name sub-name name-d-2 name-unread">{{rss.Title}}</div>
                                                        <div class="unread-count sub-unread-count unread-count-d-2"></div>
                                                        <div class="tree-item-action-container">
                                                            <div class="action tree-item-action section-button section-menubutton goog-menu-button"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="scrollable-sections-top-shadow"></div>
                    <div id="scrollable-sections-bottom-shadow"></div>
                </div>
            </div>
            <div id="chrome" class="page-view">
                <div id="chrome-viewer-container">
                    <div id="chrome-viewer">
                        <div id="viewer-header-container">
                            <div id="viewer-header">
                                <div id="viewer-top-controls-container">
                                    <div id="viewer-top-controls">
                                        <div class="lhn-nav-button-container">
                                        </div>
                                        <div role="button" id="viewer-refresh" class="goog-inline-block jfk-button jfk-button-standard viewer-buttons" tabindex="0" title="刷新" style="-webkit-user-select: none;">
                                            <img src="media/img/refresh.png" alt="" class="jfk-button-img">
                                        </div>
                                        <span id="mark-all-as-read-split-button">
                                            <div role="button" class="goog-inline-block jfk-button jfk-button-standard jfk-button-collapse-right" tabindex="0" style="-webkit-user-select: none;">全部标为已读</div>
                                            <div class="goog-inline-block goog-flat-menu-button goog-flat-menu-button-collapse-left" title="" role="button" style="-webkit-user-select: none;" tabindex="0" aria-haspopup="true">
                                                <div class="goog-inline-block goog-flat-menu-button-caption">
                                                </div>
                                                <div class="goog-inline-block goog-flat-menu-button-dropdown">&nbsp;</div>
                                            </div>
                                        </span>
                                        <span id="settings-button-container">
                                            <div role="button" id="settings-button" class="goog-inline-block jfk-button jfk-button-standard viewer-buttons goog-flat-menu-button" tabindex="0" title="设置" aria-expanded="false" style="-webkit-user-select: none;" aria-haspopup="true" aria-activedescendant="">
                                                <div class="goog-inline-block goog-flat-menu-button-caption">
                                                    <img src="media/img/settings.png" alt="" class="jfk-button-img" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">
                                                </div>
                                                <div class="goog-inline-block goog-flat-menu-button-dropdown">&nbsp;</div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="viewer-container">
                            <div id="viewer-entries-container" style="height: 434px;">
                                <div id="title-and-status-holder">
                                    <span id="chrome-title"></span>
                                    <span id="viewer-single-parent"></span>
                                    <span id="viewer-single-item-parent"></span>
                                    <span id="entries-status"></span>
                                    <div class="clear" style=""></div>
                                </div>
                                <div class="samedir">
                                    <div id="quick-add-success" class="hidden">
                                        您已经订阅了“<span id="quick-add-success-title"></span>”。
                                    </div>
                                    <div id="entries" class="single-source list">
                                        <div id="scroll-filler" class="hidden">
                                            <div id="scroll-filler-recs-message" class="scroll-filler-message">
                                                <div>您没有更多条目了。</div>
                                                <div class="secondary">请等等！我们有一些推荐的条目供您阅读。</div>
                                                <div class="secondary">好极了！ &nbsp;<a id="scroll-filler-see-recommendations" href="http://www.google.com/reader/view/pop/topic%2Ftop%2Flanguage%2Fzh-CN">为我显示自己的推荐内容</a></div>
                                            </div>
                                            <div id="single-item-bottom-links">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settings-button-menu" class="goog-menu" style="-webkit-user-select: none; visibility: visible; left: 1158px; top: 38px; display: none;" role="menu" aria-haspopup="true" aria-activedescendant="">
            <div class="goog-menuheader goog-menuheader-disabled" aria-disabled="true" style="-webkit-user-select: none;" id=":0">显示密度：</div>
            <div class="goog-menuitem goog-option-selected goog-option" role="menuitem" style="-webkit-user-select: none;" id=":1">
                <div class="goog-menuitem-content">
                    <div class="goog-menuitem-checkbox"></div> 标准 （适用于更大屏幕）
                </div>
            </div>
            <div class="goog-menuitem goog-option" role="menuitem" style="-webkit-user-select: none;" id=":2">
                <div class="goog-menuitem-content">
                    <div class="goog-menuitem-checkbox"></div> 适中 （适用于更大屏幕）
                </div>
            </div>
            <div class="goog-menuitem goog-option" role="menuitem" style="-webkit-user-select: none;" id=":3">
                <div class="goog-menuitem-content">
                    <div class="goog-menuitem-checkbox"> </div>紧凑
                </div>
            </div>
        </div>

        <script type="text/javascript"></script>
        <script type="text/javascript" src="media/lib/jquery-2.0.0.min.js" ></script>
        <script type="text/javascript" src="media/lib/sprintf.min.js" ></script>
        <script type="text/javascript" src="media/js/greader.js"></script>
        <script src="Content/js/angular.js"></script>
        <script src="Content/js/app.js"></script>
        <script src="Content/js/controllers/HomeController.js"></script>
    </body>
</html>
