<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ReaderContext" providerName="System.Data.SqlClient" connectionString="server=.;uid=sa;pwd=123;database=Reader;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="ContainerConfigPath" value="unity.config" />
  </appSettings>
</configuration>