<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--lifetime-->
    <alias alias="perHttpContext" type="Reader.Utility.HttpContextLifetimeManager, Reader.Utility" />

    <!--alias-->
    <alias alias="EF" type="Reader.Infrastructure.ReaderContext, Reader.Infrastructure" />

    <!--container-->
    <container>
      <register type="EF" mapTo="EF" >
        <lifetime type="perHttpContext"></lifetime>
      </register>
    </container>
  </unity>
</configuration>
